html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


/* ==========================================================================
                    common rules
========================================================================== */

.center {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.regularhr {
    width: 7em;
    margin: 30px auto;
    background-color: #FF3745;
    color: #FF3745;
    height: 2px;
}

.lightgrey
{
  background-color: rgb(230, 230, 230);
  margin-bottom: 50px;
  margin-top: 40px;

}

.grey , .greyb
{
    background-color: rgb(40, 40, 40);
}

.greyb
{
  padding-top: 40px;
  color: white;
}

.greyc
{
  background-color: rgb(240, 240, 240);
  padding-bottom: 40px;
  padding-top: 10px;
}

.greyb i
{
  color: #FF3745;
  font-size: 25px;
}


.grey , .white , .lightgrey
{
    padding: 40px 0 80px 0;
    margin-bottom: 50px;
}

p {
    width: 80%;
    text-align: center;
    margin: auto;
}

article {
    text-align: center;
}

h3 {
    margin: 40px 0 0 0;
    font-size: 40px;
    font-weight: 400;
    color: #303030;
}

figcaption .fa {
    font-size: 50px;
    margin-bottom: 20px;
}

.greytext
{
  color: white;
}
a
{
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
                   end of common rules
========================================================================== */


/* ==========================================================================
                header rules
========================================================================== */

header {
    background-color: #303030;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header i
{
  color: white;
  font-size: 10em !important;
}

h1
{
  color: white;
}

/* ==========================================================================
                   end of header rules
========================================================================== */


/* ==========================================================================
                nav rules
========================================================================== */

#menu {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav span
{
  color: #FF3745;
}


/* ==========================================================================
                end of nav rules
========================================================================== */


/* ==========================================================================
                Introduction
   ========================================================================== */

figure.service {
    font-family: sans-serif;
    position: relative;
    margin: 20px 25px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
}

figure.service img {
    max-width: 100%;
    vertical-align: top;
}

figure.service figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

figure.service h2, figure.service h4 {
    margin: 0;
}

figure.service h2 {
    font-weight: 600;
}

figure.service h4 {
    font-weight: 400;
    text-transform: uppercase;
}

figure.service:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    opacity: 0;
}

figure.service a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.service figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
}

figure.service:after {
    opacity: 0.9;
}


/* ==========================================================================
                    End of Introduction
========================================================================== */


/* ==========================================================================
                    Team
========================================================================== */

figure.dude {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin: 20px 25px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.dude * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.dude img {
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

figure.dude figcaption {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
}

figure.dude figcaption h2 {
    top: 50%;
    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
}

figure.dude figcaption h2 span {
    font-weight: 800;
}

figure.dude figcaption:before, figure.dude figcaption:after {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
}

figure.dude figcaption:before {
    left: 0;
    top: 0;
}

figure.dude figcaption:after {
    bottom: 0;
    right: 0;
}

figure.dude.blue {
    background: #091b27;
}

figure.dude.red {
    background: #2e0e0a;
}

figure.dude a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}


/* ==========================================================================
                   end of Team
========================================================================== */


/* ==========================================================================
                tarif rules
========================================================================== */

.maintarif {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.tarif {
    background-color: #FF3745;
    color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border: 2px solid #FF3745;
    border-radius: 4px;
}

.tarif ul {
    list-style-type: none;
    text-align: center;
}

.tarif ul li {
    padding: 5px 0;
    width: 100%;
}

.tarif ul li:first-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: #222;
    padding: 20px 0;
    font-weight: bolder;
    font-size: 200%;
}

.tarif ul li:last-child {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarif a {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
}


/* ==========================================================================
                   end of tarif rules
========================================================================== */


/* ==========================================================================
                contact rules
========================================================================== */

.contact {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-direction: column;
}

.left, .right {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.left input {
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
}

.left input , textarea
{
    border-radius: 4px;
    border: 1px solid rgb(210, 210, 210);
    text-indent: 15px;
}

.right i {
    color: white;
}

.mail {
    background-color: #FF3745;
    border-style: none;
}


/* ==========================================================================
                end of contact rules
========================================================================== */


/* ==========================================================================
                            start of footer rules
========================================================================== */
iframe
{
  width: 100%;
  height: 10em;
  border-style: none;
  border-top: 2px solid #FF3745;
}


footer {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

footer nav {
    width: 100%;
    padding-bottom: 15px;
}

footer ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
}

footer ul li {
    text-align: center;
}
footer ul li i
{
  margin-bottom: 20px;
}

/* ==========================================================================
                                     end of footer rules
========================================================================== */

@media (min-width:768px) {
    /* ==========================================================================
                      tarif rules
  ========================================================================== */
    .tarif {
        width: 30%;
    }
    /* ==========================================================================
                     end of tarif rules
  ========================================================================== */
    /* ==========================================================================
                    contact rules
========================================================================== */
    .contact {
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        flex-direction: row;
    }
    .left, .right {
        width: 47%;
    }
    /* ==========================================================================
                   end of contact rules
========================================================================== */
}

@media (min-width:1024px) {
    /* ==========================================================================
                header rules
========================================================================== */
    header nav {
        display: none;
    }
    #menu {
        display: block;
        width: 100%;
        z-index: 999;
    }
    #menu ul {
        display: flex;
        background-color: #FF3745;
        list-style-type: none;
        margin: auto;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    #menu ul li
    {
      padding: 1em 3em;
      color: white;
      font-weight: 600;
    }
    /* ==========================================================================
                   end of header rules
========================================================================== */
    /* ==========================================================================
                      service
  ========================================================================== */
    figure.service {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 230px;
        max-width: 315px;
        width: 100%;
        color: #000000;
        text-align: center;
        -webkit-perspective: 50em;
        perspective: 50em;
    }
    figure.service * {
        -webkit-box-sizing: padding-box;
        box-sizing: padding-box;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    figure.service img {
        max-width: 100%;
        vertical-align: top;
    }
    figure.service figcaption {
        top: 50%;
        left: 20px;
        right: 20px;
        position: absolute;
        opacity: 0;
        z-index: 1;
    }
    figure.service h2, figure.service h4 {
        margin: 0;
    }
    figure.service h2 {
        font-weight: 600;
    }
    figure.service h4 {
        font-weight: 400;
        text-transform: uppercase;
    }
    figure.service:after {
        background-color: #ffffff;
        position: absolute;
        content: "";
        display: block;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0;
    }
    figure.service a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
    figure.service:hover figcaption {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 1;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    figure.service:hover:after {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 0.9;
    }

    .center
    {
      padding: 4em;
    }
    /* ==========================================================================
                     end of service
  ========================================================================== */
    /* ==========================================================================
                  teamblock
  ========================================================================== */
    figure.dude {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        display: inline-block;
        margin: 10px 5px;
        min-width: 220px;
        max-width: 310px;
        max-height: 310px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        background: #000000;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    figure.dude * {
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    figure.dude img {
        opacity: 0.25;
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    figure.dude figcaption {
        position: absolute;
        top: 50%;
        left: 30px;
        right: 30px;
        -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
        transform: rotate(0deg) translateY(-50%) scale(1);
        -webkit-transform-origin: center 0;
        transform-origin: center 0;
    }
    figure.dude figcaption h2 {
        top: 50%;
        letter-spacing: -1px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px 0;
        margin: 0;
        font-weight: 400;
    }
    figure.dude figcaption h2 span {
        font-weight: 800;
    }
    figure.dude figcaption:before, figure.dude figcaption:after {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        display: block;
        -webkit-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    figure.dude figcaption:before {
        left: 0;
        top: 0;
    }
    figure.dude figcaption:after {
        bottom: 0;
        right: 0;
    }
    figure.dude.blue {
        background: #091b27;
    }
    figure.dude.red {
        background: #2e0e0a;
    }
    figure.dude a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    figure.dude:hover img {
        opacity: 1;
    }
    figure.dude:hover figcaption {
        -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
        transform: rotate(-45deg) translateY(-50%) scale(0.9);
    }
    figure.dude:hover figcaption:before, figure.dude:hover figcaption:after {
        width: 200%;
    }
    /* ==========================================================================
                     end of teamblock
  ========================================================================== */
    /* ==========================================================================
                      common rules
  ========================================================================== */
    /* ==========================================================================
                     end of common rules
  ========================================================================== */
    /* ==========================================================================
                  main rules
  ========================================================================== */
    /* ==========================================================================
                     end of main rules
  ========================================================================== */
    /* ==========================================================================
                              start of footer rules
  ========================================================================== */
    footer {
        flex-direction: row;
        width: 70%;
    }
    footer nav {
        width: 32%;
        padding-bottom: 15px;
    }
    footer ul {
        width: 100%;
    }
    /* ==========================================================================
                                       end of footer rules
  ========================================================================== */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
